@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Montserrat, sans-serif;
    background-image: url(astronaut-space-digital-art-hd-wallpaper-uhdpaper.com-700@1@k.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    backdrop-filter: blur(3px);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 25px;
    font-size: 25px;
    text-align: center;
}
/* Navigation menu styles */
nav {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 173, 130, 0.3);
    padding: 10px;
}
a{
    color: aquamarine;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #666;
}
