@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
body {
    font-family: Montserrat, sans-serif;
    background-image: url(astronaut-space-digital-art-hd-wallpaper-uhdpaper.com-700@1@k.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    backdrop-filter: blur(3px);
    color: #ffffff;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 01);;
}

.container {
    width: 50%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 173, 130, 0.3);
    padding: 10px 60px 80px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    font-family: montserrat;
}
/* Navigation menu styles */
nav {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 173, 130, 0.3);
    padding: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #666;
}
#head{
    font-size: 25px;
    margin: 10px;
}
input{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#editProfileForm-form h1 {
    text-align: center;
    font-family: Dancing Script;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50px 0px ;
    margin-bottom: 20px;
    
}

.login-form h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

label{
    font-size : 20px;
}

button{
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
button:hover{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    background-color: aqua;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

a{
    font-size: 20px;
    color: rgb(167, 252, 255);
}

.user-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
    
}

.user-type button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-type button.active {
    background-color: #5f5f5f;
}

form {
    margin-bottom: 15px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 10px;
}